table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th:first-child,
  td:first-child {
    background-color: lightblue;
    width: 1%;
    white-space: nowrap;
  }
  
  th {
    background-color: lightblue;
  }

  .header {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust the height as needed */
  }
  
  .header-text {
    font-size: 36px; /* Adjust the font size as needed */
  }

  .footer {
    background-color: skyblue;
    padding: 20px; /* Adjust the padding as needed */
    text-align: center;
    margin-top: 20px; /* Add margin-top for white space */
  }
  
  .footer-text {
    font-size: 14px; /* Adjust the font size as needed */
    color: white; /* Adjust the color as needed */
  }

  .btn-outline {
    font-family: inherit; /* Inherit font from parent */
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    background-color: transparent;
    color: #007bff;
  }
  
  .btn-outline:hover {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    border-color: #b8daff;
  }
  
  .btn-outline:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-outline:active {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.3);
    border-color: #0056b3;
  }

  .button-group {
    /* Adjust margin or padding as needed */
    margin-top: 5px;
  }