table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th:first-child,
  td:first-child {
    background-color: lightblue;
    width: 1%;
    white-space: nowrap;
  }
  
  th {
    background-color: lightblue;
  }

  .header {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px; /* Adjust the height as needed */
    margin-bottom: 10px; /* Add margin to create whitespace below the header */
  }
  
  .header-text {
    font-size: 36px; /* Adjust the font size as needed */
  }

  .footer {
    background-color: skyblue;
    padding: 20px; /* Adjust the padding as needed */
    text-align: center;
    margin-top: 20px; /* Add margin-top for white space */
  }
  
  .footer-text {
    font-size: 14px; /* Adjust the font size as needed */
    color: white; /* Adjust the color as needed */
  }

  .btn-outline {
    font-family: inherit; /* Inherit font from parent */
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    background-color: transparent;
    color: #007bff;
  }
  
  .btn-outline:hover {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    border-color: #b8daff;
  }
  
  .btn-outline:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-outline:active {
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.3);
    border-color: #0056b3;
  }

  .button-group {
    /* Adjust margin or padding as needed */
    margin-top: 5px;
  }

 /* Comment Box Styles */
 .comment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: nowrap; /* Ensure contents don't wrap to a new line */
  border: 1px solid #ced4da; /* Border */
  padding: 5px; /* Padding */
  background-color: #f7f7f7; /* Light background color */
}

.comment-field {
  flex: 2; /* Let's increase this so it tries to take up more space than the button */
  margin-right: 10px;
}

.comment-textarea {
  align-self: center;
  width: 100%;
  height: 36px; /* Set this to the desired height */
  padding: 4px 4px; /* Adjust padding for better visual */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  resize: none; /* Disable manual resize of textarea */
  border-radius: 5px; /* Match the button's border radius */
  font-size: inherit;
  line-height: 1.4; /* Set a default line-height */
  margin: 0; /* Reset margin */
  overflow: auto; /* Helps in some cases where extra line appears */
  font-family: inherit; /* This will make it inherit the font from its parent or the body */
  border: 1px solid #ced4da; /* Add a border to visually match the button */
  margin-top: 5px; /* Or whatever value needed to nudge it into the right place ... kind of kludgy */
}

.comment-label { 
  margin-right: 10px;
}

.update-btn {
  flex-shrink: 0;
  background-color: #007bff;
  color: white;
  border: none;
  height: 35px; /* Set this to match the textarea's height */
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  /*padding: 10px 10px; /* Adjust padding for vertical spacing */
  font-family: inherit; /* This will make it inherit the font from its parent or the body */
  margin-right: 10px; /* Adjust this value as needed */
  margin-left: 5px; /* Adjust this value as needed */
}

.update-btn:hover {
  background-color: #0056b3;
  line-height: 28px; /* or whatever value you've settled on */
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

